body{
    margin: 0px;
    background-color: white;
}

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.text-content{
    padding: 0px 20px;
    text-align: justify;
    margin-bottom: 20px;
}

header{
    padding: 20px 0;
    display: flex;
    background-image:linear-gradient(45deg, rgba(245, 189, 198, 0.767), rgb(186, 186, 235));
}

.img-container{
    background-color: white; 
    padding: 8px;
    padding-left: 12px;
    display: flex;
    justify-items: center;
    align-items: center;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}

.title-container{
    padding: 0px 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.title-container h1,.title-container h3{
    color: white;
    font-size: 28px;
    text-transform: uppercase;
}

.title-container h3{
    font-size: 22px;
    font-weight: 500;
    color: rgb(129, 121, 121);
    margin-top: 6px;
}

.img-avatar{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 100px;
}

.container{
    padding: 20px;
    background-color: #f9f9f9;
    display: flex;

}

.right,.left{
    background-color: white;
    width: 100%;
}

.left{
    width: calc(40%-20px);
    margin-right: 20px;
}

.right{
    flex-grow: 1;

}

.title{
    background-image:linear-gradient(45deg, rgba(245, 189, 198, 0.767), rgb(186, 186, 235));
    padding: 8px 20px;
    color: white;
    font-size: 18px;
    display: inline-block;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}

.tag1{
    margin-top: 32px;
}

.tag-content1{
    padding: 20px
}

.tag-content1 ul{
    padding: 0;
    margin: 0;
}

.tag-content1 ul li{
    list-style: circle;
    margin-left: 20px;
    padding: 8px;
}

.progress-wrap{
    width: 100%;
    height: 10px;
    background-color: rgba(128, 128, 128, 0.4);
    margin-top: 10px;
    margin-bottom: 16px;
}

.progress-title{
    text-transform: uppercase;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.progress{
    width: 50%;
    height: 10px;
    background: linear-gradient(45deg, rgba(73, 2, 131, 0.767), rgb(215, 94, 240));
}

.title1{
    font-size: 18px;
    padding: 10px 20px;
    background-image: linear-gradient(45deg, rgba(245, 189, 198, 0.767), rgb(186, 186, 235));
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 32px;
    color: white;
}

.tab{
    display: flex;
    justify-content: space-between;
}

.tab .text-content{
    font-weight: 600px;
    color: grey;
}

.right ul li{
    list-style: none;
}

.right ul{
    padding: 0;
}

.text-date{
    padding: 0 20px;
    color: grey;
    font-style: italic;
}

.description h3{
    padding: 0 20px;
    margin-bottom: 10px;
}

.description ul{
    padding-left: 38px;
}

.description ul li{
    text-align: justify;
    margin-bottom: 12px;
    list-style: none;
}

.description ul ul li{
    text-align: justify;
    list-style: circle;
    margin-bottom: 20px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background: rgb(141, 139, 125);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    position: relative;
    width: 100%;
    min-width: 1000px;
    min-height: 1000px;
    background: #fff;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0,0,0,0.2);
}

.container .left{
    position: relative;
    background: #113a52;
    padding: 40px;
}

.profileText{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

.profileText .profileImg{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.profileText .profileImg img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profileText h2{
    color: #fff;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}

.profileText h2 span{
    font-size: 0.7em;
    font-weight: 300;
}

.Info{
    padding:40px;
}

.title{
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.4px;
    margin-bottom: 20px;
}

.Info ul{
    position: relative;
}

.Info ul li{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}

.Info ul li .icon{
    display: inline-block;
    width: 30px;
    font-size: 20px;
    color:#f9ca24;
}

.Info ul li span{
    color: #fff;
    font-weight: 200;
}

.Info.education li{
    margin-bottom: 15px;
}

.Info.education h5{
    color: #f9ca24;
    font-weight: 300;
}

.Info.education h4:nth-child(2){
    color: #fff;
    font-weight: 500;
}

.Info.education h4{
    color: #fff;
    font-weight: 300;
}

.Info.language .percent{
    position: relative;
    width: 100%;
    height: 6px;
    background: #f0f0f0;
    display: block;
    margin-top: 5px;
}

.Info.language .percent div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #f9ca24;
}

.container .right{
    position: relative;
    background: #fff;
    padding: 80px;
}

.about{
    margin-bottom: 70px;
    word-spacing: 0.2rem;
}

.about:last-child{
margin-bottom: 0px;
}

.title2{
    color: #113a52;
    text-transform: uppercase;
    margin-bottom: 10px;
}

p{
    color: #333;
}

.skills p{
    list-style: none;
    color: #333;
    font-weight: 500;
    margin: 12px 0;
    list-style-type: circle;
}

.about .box{
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

.about .box .year_company{
    min-width: 150px;
}

.about .box .year_company h5{
    text-transform: uppercase;
    color: #848c90;
    font-weight: 600;
}

.about .box .text h4{
    text-transform: uppercase;
    color: #f9ca24;
    font-size: 16px;
}

.skills .box{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;
}

.skills .box h4{
    text-transform: uppercase;
    color: #848c90;
    font-weight: 500;
}

.skills .box .precent{
    position: relative;
    width: 100%;
    height: 10px;
    background: #f0f0f0;
}

.skills .box .precent div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #f9ca24;
}

.interest ul{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.interest ul li{
    list-style: none;
    color: #333;
    font-weight: 500;
    margin: 12px 0;
}

.interest ul li .icon{
    color: #f9ca24;
    font-size: 18px;
    width: 35px;
}



@media(max-width: 1000px){
    .container{
        margin: 10px;
        grid-template-columns: repeat(1,1fr);
    }

    .interest ul{
        grid-template-columns: repeat(2,1fr);
    }
}


@media(max-width: 600px){
    .about .box{
        flex-direction: column;
    }

    .about .box .year_company{
        margin-bottom: 5px;
        margin-top: 5px;
    }

    .interest ul{
        grid-template-columns: repeat(1,1fr);
    }

    .skills .box{
        grid-template-columns: repeat(1,1fr);
    }
}