<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>FIT-HCMUE Shop</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="container" style="height: auto;">
        <header class="hh-header">
            <h1 class="hh-company">Ponk Shop</h1>
            <h5 class="hh-slogan">Bring happy to everyone</h5>
            <img class="hh-logo" src="../img/header.png" alt="ERROR">
        </header>
        <nav class="navbar bg-body-tertiary">
            <div class="container-fluid" style="justify-content: space-between;">
                <ol class="nav">
                    <li class="nav-item">
                        <a href="../html/layout.html" aria-current="page" class="nav-link active">Trang chủ</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" aria-current="page" class="nav-link disabled">Giới thiệu</a>            
                    </li>
                    <li class="nav-item">
                        <a href="#" aria-current="page" class="nav-link disabled">Sản phẩm</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" aria-current="page" class="nav-link disabled">Liên hệ</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" aria-current="page" class="nav-link disabled">Hỏi đáp</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" aria-current="page" class="nav-link disabled">Tài khoản <i class="fa-solid fa-sort-down"></i></a>
                    </li>
                </ol>
                <form class="row" role="search">
                    <input class="col form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="col-2 btn btn-outline-primary" type="submit">Search</button>
                    <button class="col-2 btn" type="submit">English</button>
                    <button class="col-3 btn" type="button">Tiếng Việt</button>
                </form>

            </div>

        </nav>
        <div class="hh-sheet row justify-content-between">
            <article class="row col-sm-9">
                <div class="card mb-3" style="padding: 5px;">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="../img/tải xuống.jpg" class="img-fluid rounded-start" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                        <h5 class="card-title">Album</h5>
                        <strong style="font-size: 40px;">Midnight</strong>
                        <hr>
                        <strong style="font-size: 30px; color: red;">6,999,000 đ</strong>
                        <div class="row" style="max-width: 250px; display: flex; justify-content: space-between;">
                            <input type="text" class="form-control" style="max-width: 50px;" placeholder="Số lượng" aria-label="Số lượng" value="1">
                            <button class="btn btn-outline-primary" style="max-width: 125px;" type="button">Thêm vào giỏ</button>
                            <button class="btn btn-outline-danger active" style="max-width: 50px;" type="check"><i class="fa-solid fa-heart"></i></button>
                        </div>
                        <hr>
                        <strong>Thông tin sản phẩm</strong>
                        <p> Hàng chính hãng giá gốc niêm yết từ công ty chủ quản <br>
                            Nếu có sai sót hay sản phẩm không đúng yêu cầu có thể liên hệ shop tại địa chỉ bên dưới <br>
                            0971234587
                        </p>
                        <hr>
                        <strong>Chia sẻ sản phẩm: </strong>
                        <div style="font-size: 40px;">
                            <i class="fa-brands fa-facebook"></i>
                            <i class="fa-brands fa-twitter"></i>
                            <i class="fa-brands fa-instagram"></i>

                        </div>
                        <p><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                        </div>
                      </div>
                    </div>
                  </div>
            </article>
            <article class="row col-sm-9">
                <div class="card mb-3" style="padding: 5px;">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="../img/img2.jpg" class="img-fluid rounded-start" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                        <h5 class="card-title">Album</h5>
                        <strong style="font-size: 40px;">Lover</strong>
                        <hr>
                        <strong style="font-size: 30px; color: red;">5,999,000 đ</strong>
                        <div class="row" style="max-width: 250px; display: flex; justify-content: space-between;">
                            <input type="text" class="form-control" style="max-width: 50px;" placeholder="Số lượng" aria-label="Số lượng" value="1">
                            <button class="btn btn-outline-primary" style="max-width: 125px;" type="button">Thêm vào giỏ</button>
                            <button class="btn btn-outline-danger active" style="max-width: 50px;" type="check"><i class="fa-solid fa-heart"></i></button>
                        </div>
                        <hr>
                        <strong>Thông tin sản phẩm</strong>
                        <p> Hàng chính hãng giá gốc niêm yết từ công ty chủ quản <br>
                            Nếu có sai sót hay sản phẩm không đúng yêu cầu có thể liên hệ shop tại địa chỉ bên dưới <br>
                            0971234587
                        </p>
                        <hr>
                        <strong>Chia sẻ sản phẩm: </strong>
                        <div style="font-size: 40px;">
                            <i class="fa-brands fa-facebook"></i>
                            <i class="fa-brands fa-twitter"></i>
                            <i class="fa-brands fa-instagram"></i>

                        </div>
                        <p><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                        </div>
                      </div>
                    </div>
                  </div>
            </article>
            <aside class="col-sm-3">
                <div class="card hh-cart">
                    <div class="card-header">
                        <strong>Giỏ hàng</strong>
                    </div>
                    <div class="car-body row justify-content-around">
                        <img src="../img//shoppingcart.png" alt="ERROR" class="col-md-5">
                        <ul class="col-md-5">
                            <li>10 sp</li>
                            <li>5,000,000 đ</li>
                            <li><a href="">Giỏ hàng</a></li>
                        </ul>
                    </div>
                </div>
    
                <div class="card hh-card">
                    <div class="card-header">
                        <i class="fa-solid fa-magnifying-glass"></i>   
                        <strong>Tìm kiếm</strong>
                    </div>
                    <div class="card-body">
                        <form action="">
                            <input placeholder="Keywords" class="form-control" type="text">
                        </form>
                    </div>
                </div>
                <div class="card hh-card">
                    <div class="card-header">
                        <i class="fas fa-list"></i>
                        <strong>Chủng loại</strong>
    
                    </div>
                    <div class="list-group">
                        <a href="#" class="list-group-item">
                            Album
                            <span class="badge badge-primary badge-pill">55</span>
                            <a href="#" class="list-group-item">Lightstick</a>
                            <a href="#" class="list-group-item">Goods</a>
                            <a href="#" class="list-group-item">Concert ticket</a>
                            <a href="#" class="list-group-item">Single</a>
                        </a>
                        </a>
                    </div>
                </div>
                <div class="card hh-card">
                    <div class="card-header">
                        <i class="fa-solid fa-building"></i>
                        <strong>Nhà cung cấp</strong>
                    </div>
                    <div class="list-group">
                        <a href="#" class="list-group-item">HYBE</a>
                        <a href="#" class="list-group-item">YG</a>
                        <a href="#" class="list-group-item">JYP</a>
                        <a href="#" class="list-group-item">SM</a>
                        <a href="#" class="list-group-item">RBW</a>
                        <a href="#" class="list-group-item">Pledis</a>
                        <a href="#" class="list-group-item">US-UK</a>
                    </div>
                </div>
                <div class="card hh-card">
                    <div class="card-header">
                        <i class="fa-solid fa-star"></i>
                        <strong>Hàng đặc biệt</strong>
                    </div>
                    <div class="list-group">
                        <a href="#" class="list-group-item">Hàng bán chạy</a>
                        <a href="#" class="list-group-item">Hàng mới</a>
                        <a href="#" class="list-group-item">Hàng giảm giá</a>
                        <a href="#" class="list-group-item">Hàng yêu thích</a>
                        <a href="#" class="list-group-item">Hàng xem nhiều</a>
                    </div>
                </div>
            </aside>
        </div>
        <footer class="row card">
            <div class="card-body text-center">
                FIT-HCMUE &copy; 2023
            </div>
        </footer>
    </div>
    <script src="./script.js"></script>
    <script src="https://kit.fontawesome.com/69ad2c1b57.js" crossorigin="anonymous"></script>
</body>
</html>